body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Header Styling */
.header-bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.header-text-shadow {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

/* Back Button Styling */
.btn-back {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 1001;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: #0C470C;
  color: white;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

.btn-back:hover {
  background-color: #023621;
  transform: scale(1.1);
}

.btn-back i {
  font-size: 1.2rem;
}
.header-logo {
  max-height: 100px;
}